<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite_Testname">
    <test name="test_TestCase001">
        <classes>
            <class name="Annotation.TestCase001"></class>

        </classes>
    </test>
    <test name="test_TestCase002">
        <classes>
            <class name="Annotation.TestCase002"></class>
        </classes>
    </test>
</suite>